XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm.vt100.reverseVideo: true
XTerm.vt100.faceName: Liberation Mono:size=20:antialias=true
XTerm.vt100.font: 7x13
